<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Connexion</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
<div class="card p-4" style="width: 320px;">
  <h4 class="card-title mb-3 text-center">Se connecter</h4>
  <form th:action="@{/login}" method="post">
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input name="username" type="text" class="form-control" required/>
    </div>
    <div class="mb-3">
      <label class="form-label">Mot de passe</label>
      <input name="password" type="password" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary w-100">Connexion</button>
  </form>
</div>
</body>
</html>
