<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Profil</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header"><h4>Mon profil</h4></div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Prénom</dt>
                <dd class="col-sm-9" th:text="${user.firstName}"></dd>
                <dt class="col-sm-3">Nom</dt>
                <dd class="col-sm-9" th:text="${user.lastName}"></dd>
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9" th:text="${user.username}"></dd>
                <dt class="col-sm-3">Rôle</dt>
                <dd class="col-sm-9" th:text="${user.role}"></dd>
                <dt th:if="${user.role.name() == 'CLIENT'}" class="col-sm-3">Solde</dt>
                <dd th:if="${user.role.name() == 'CLIENT'}" class="col-sm-9" th:text="${user.solde} + ' MAD'"></dd>
            </dl>
            <a th:href="@{/logout}" class="btn btn-secondary">Déconnexion</a>
        </div>
    </div>
</section>
</body>
</html>
